{% load static %}
{% load bootstrap_icons %}

<header class="sticky top-0 z-50 w-full bg-gray-700 shadow-md">

  <div class="flex flex-row items-center justify-between text-white px-12 py-4 mx-10">

    <div class="flex-shrink-0">
      <img src="{% static 'imgs/logo2.png' %}" alt="ACJR" class="size-[5rem]">
    </div>

    <div class="hidden text-[1.1rem] md:flex flex-row gap-8 ml-8">

      <nav class="flex items-center flex-row gap-10">

        <a class="font-bold hover:text-blue-400 transition"
           href="{% url 'site:index' %}">Home</a>
        <a class="font-bold hover:text-blue-400 transition"
           href="{% url "site:index" %}#serviços">Serviços</a>
        <a class="font-bold hover:text-blue-400 transition" href="#contato">Contato</a>

      </nav>

      <div class="flex items-center gap-2">

        <span class="text-blue-400">{% bs_icon 'telephone-fill' %}</span>
        <p class="font-bold text-sm">(13) 9999-9999</p>

      </div>

      <div>
        <button class="bg-blue-400 font-semibold rounded-lg text-gray-100 p-3 shadow-xl hover:bg-blue-500 cursor-pointer active:bg-blue-400 shadow-none"
                type="submit"
                formaction="">Solicite um Orçamento</button>
      </div>

    </div>

  </div>

</header>
